{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title %}{{ layoutType.id|default(false) ? 'Edit' : 'Create' }} Layout{% endset %}
{% set fullPageForm = true %}
{% set crumbs = [
    {url: '/admin/settings', label: 'Settings'},
    {url: '/admin/settings/plugins', label: 'Plugins'},
    {url: '/admin/settings/plugins/layoutbuilder', label: 'Layout Builder'},
] %}

{% block content %}
    <input type="hidden" name="layout[id]" value="{{ layoutType.id|default('') }}">

    <style>
        .cells {
            display: grid;
            grid-gap: 24px;
        }

        .cell {
            border: 1px solid rgba(0, 0, 20, 0.1);
            border-radius: 2px;
            padding: 15px;
            background: rgb(240, 247, 253);
            position: relative;
        }
    </style>

    {{ forms.textField({
        label: 'Title',
        name: 'layout[title]',
        value: layoutType.title|default(''),
        first: true,
        autofocus: true
    }) }}

    <div class="field first">
        <div class="heading">
            <label>Icon</label>
        </div>
        <div class="input ltr">
            <div data-icon-picker data-name="layout[icon]" data-value="{{ layoutType.icon|default('') }}"></div>
        </div>
    </div>

    <hr>

    <div class="layoutbuilder">
        <div data-layout-builder data-use-custom-css="{{ layoutType.useCustomCss|default('') }}" data-custom-css="{{ layoutType.customCss|default('') }}" data-cells="{{ layoutType.cells|default([])|json_encode }}"></div>
    </div>

{% endblock %}