{% extends withFrame ? "_layouts/cp" : "layoutbuilder/blocks/layout" %}
{% import "_includes/forms" as forms %}

{% set title = block.title|default(block.id ? 'Edit block' : 'Create block') %}
{% set fullPageForm = true %}

{% block actionButton %}
    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li>
                    <a class="formsubmit" data-redirect="1">
                        {{ forms.optionShortcutLabel('S') }}
                        {{ "Save and continue editing"|t('app') }}
                    </a>
                </li>
            </ul>
        </div>
{% endblock %}

{% block content %}
    <input type="hidden" name="layout[withFrame]" value="{{ withFrame ? 1 : 0 }}">
    <input type="hidden" name="block[uid]" value="{{ block.uid }}">
    <input type="hidden" name="block[blockTypeId]" value="{{ block.type.id }}">

    {% if block.type.hasTitleField %}
        {{ forms.textField({
            label: "Title"|t('app'),
            siteId: block.siteId,
            id: 'title',
            name: 'title',
            value: block.title,
            errors: block.getErrors('title'),
            first: true,
            autofocus: true,
            required: true,
            maxlength: 255
        }) }}
    {% endif %}

    {% for tab in block.getFieldLayout().getTabs() %}
        <div id="{{ tab.getHtmlId() }}"{% if not loop.first %} class="hidden"{% endif %}>
            {% include "_includes/fields" with {
                fields:  tab.getFields(),
                element: block
            } only %}
        </div>
    {% endfor %}
{% endblock %}

{% js %}
    document.addEventListener('keyup', function (event) {
        if (event.keyCode === 27 /* escape */) {
            // order matters, if you try to cancel the block editor first the
            // iframe containing this code will be removed before the focus event
            // is triggered. Therefore make sure you do any parent page events
            // _before_ you call cancelBlockEditor and remove the frame
            parent.layoutBuilderBus.emit('focusBlock', {{ block|json_encode|raw }})
            parent.layoutBuilderBus.emit('hideBlockEditor', {{ block|json_encode|raw }})
        }
    })
{% endjs %}