{% extends "_layouts/basecp" %}

{# ================================================================================================================== #}
{# ================================================================================================================== #}
{#                                                                                                                    #}
{# This is basically a copy of _layouts/cp with a few adjustments so it works better in an iFrame                     #}
{# embed. Specifically,                                                                                               #}
{#  - removed the #global-sidebar                                                                                     #}
{#  - removed #nav-toggle (since we removed the nav)                                                                  #}
{#  - removed the queues (since the parent page should do that for us                                                 #}
{#  - added a custom class name to the #global-container for CSS targeting                                            #}
{#  - removed alerts div                                                                                              #}
{#                                                                                                                    #}
{# ================================================================================================================== #}
{# ================================================================================================================== #}

{% set hasSystemIcon = CraftEdition == CraftPro and craft.rebrand.isIconUploaded %}

{% set forceConfirmUnload = craft.app.session.hasFlash('error') %}
{% set fullPageForm = (fullPageForm is defined and fullPageForm) %}

{% set canUpgradeEdition = craft.app.getCanUpgradeEdition() %}
{% set licensedEdition = craft.app.getLicensedEdition() %}
{% set isTrial = licensedEdition is not same as(null) and licensedEdition is not same as(CraftEdition) %}

{% set sidebar = (sidebar ?? block('sidebar') ?? '')|trim %}
{% set details = (details ?? block('details') ?? '')|trim %}
{% set crumbs = crumbs ?? null %}

{% block head %}
    {{ parent() }}
    <style>
        html, body { background: transparent; }
        body.ltr #global-container { left: 0; }
        /*body.ltr #global-container #main-container #main:after { content: ''; position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(255,255,255,0.8); z-index: 1 }*/
        body.ltr #global-container #main-container #main-form { position: absolute; top: 0; right: 0; height: 100vh; z-index: 2; }
        body.ltr #global-container #main-container #main #header,
        body.ltr #global-container #main-container #main #main-content { width: 576px }
    </style>
{% endblock %}

{% block body %}
    <div id="global-container" class="sidebarless">
        <div id="main-container">

            {# notifications #}
            <div id="notifications-wrapper">
                <div id="notifications">
                    {% for type in ['notice', 'error'] %}
                        {% set message = craft.app.session.getFlash(type) %}
                        {% if message %}
                            <div class="notification {{ type }}">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            {# crumbs #}
            <div id="crumbs"{% if not crumbs %} class="empty"{% endif %}>
                {% if crumbs %}
                    <nav>
                        <ul>
                            {% for crumb in crumbs %}
                                <li><a href="{{ crumb.url }}">{{ crumb.label }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                {% endif %}
            </div>

            {# main #}
            <main id="main" role="main">

                {% if fullPageForm -%}
                <form tabindex="0" {% block mainFormAttributes %}id="main-form" method="post" accept-charset="UTF-8" data-saveshortcut{% if saveShortcutRedirect is defined %} data-saveshortcut-redirect="{{ saveShortcutRedirect|hash }}"{% endif %} data-confirm-unload novalidate{% endblock %}>
                    {{- csrfInput() }}
                    {%- endif %}

                    {# main-header #}
                    <header id="header">
                        {% block header %}
                            {% block pageTitle %}
                                {% if title is defined and title|length %}
                                    <h1>{{ title }}</h1>
                                {% endif %}
                            {% endblock %}
                            {% block contextMenu %}{% endblock %}
                            <div class="flex-grow"></div>
                            {% block actionButton %}
                                {% if fullPageForm %}
                                    <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
                                {% endif %}
                            {% endblock %}
                        {% endblock %}
                    </header>

                    {# main-content #}
                    <div id="main-content" class="{% if sidebar %}has-sidebar{% endif %} {% if details %}has-details{% endif %}">
                        {% block main %}
                            {# sidebar #}
                            {% if sidebar is not empty %}
                                <a id="sidebar-toggle"><span id="selected-sidebar-item-label"></span>&nbsp;<span data-icon="downangle"></span></a>
                                <div id="sidebar" class="sidebar">
                                    {{ sidebar|raw }}
                                </div>
                            {% endif %}

                            {# content-container #}
                            <div id="content-container">
                                {% block tabs %}
                                    {% if tabs is defined and tabs %}
                                        {% include "_includes/tabs" %}
                                    {% endif %}
                                {% endblock %}

                                <div id="content">
                                    {% block content %}
                                        {{ content is defined ? content }}
                                    {% endblock %}
                                </div>
                            </div>

                            {# details #}
                            {% if details is not empty %}
                                <div id="details">
                                    {{ details|raw }}
                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>

                    {% if fullPageForm -%}
                </form><!-- #main-form -->
                {%- endif %}
            </main><!-- #main -->
        </div><!-- #main-container -->
    </div><!-- #global-container -->
{% endblock %}


{% if currentUser.can('performUpdates') and not craft.app.updates.getIsUpdateInfoCached() %}
    {% js %}
        Craft.cp.checkForUpdates();
    {% endjs %}
{% endif %}
