<h2>Layouts</h2>
<p>Layouts create the skeleton of a page. They can have one or more regions within them that hold your content.</p>

<table class="shadow-box editable">
    {% for layout in craft.layoutbuilder.layoutTypes.all() %}
        <tr>
            <th width="100">{icon}</th>
            <td><a href="/admin/settings/plugins/layoutbuilder/layouttypes/{{ layout.id }}">{{ layout.title }}</a></td>
        </tr>
    {% endfor %}
</table>
<p><a href="/admin/settings/plugins/layoutbuilder/layouttypes/create">New</a></p>

<hr>
<h2>Blocks</h2>
<p>Blocks are a collections of fields that can be attached to regions within a layout.</p>

<table class="shadow-box editable">
    {% for blockType in craft.layoutbuilder.blockTypes.all() %}
        <tr>
            <th width="100">{icon}</th>
            <td><a href="/admin/settings/plugins/layoutbuilder/blocktypes/{{ blockType.id }}">{{ blockType.title }}</a></td>
        </tr>
    {% endfor %}
</table>
<p><a href="/admin/settings/plugins/layoutbuilder/blocktypes/create">New</a></p>